@font-face {
  font-family: questrial;
  font-style: normal;
  font-weight: 400;
  src:
    local("Questrial"),
    url(https://fonts.cdnfonts.com/s/12556/Questrial-Regular.woff) format("woff");
}

body {
  font-family: Questrial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #f8f9fa;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.btn.btn-outset {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 1px 3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-check:checked + .btn.btn-outset,
.btn.btn-outset.active,
.btn.btn-outset.show,
.btn.btn-outset:first-child:active,
:not(.btn-check) + .btn.btn-outset:active {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}

.btn.btn-outset:hover {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}

/*! CSS Used from: Embedded */
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.fold {
  width: 3.2em;
  height: 1.35em;
}

.fold::after {
  top: 50%;
  left: 50%;
  content: "";
  height: 3.2em;
  width: 1.35em;
  position: absolute;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #495057;
  border-bottom: 1px solid #495057;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  transform: translate(-50%, -50%) rotate(45deg);
  background: linear-gradient(to right bottom, transparent 50%, #e6e6e6 0, #ffffff 27px, #b3b3b3);
}

.fold-hypotenuse {
  width: 55.7px;
  transform: rotate(-22.874deg);
  transform-origin: bottom right;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2) inset,
    0px 1px 1px 0px rgba(0, 0, 0, 0.14) inset,
    0px 1px 3px 0px rgba(0, 0, 0, 0.12) inset;
}

.upright-and-left {
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.hypotenuse-shadow-cover {
  width: 55.7px;
  transform-origin: bottom right;
  transform: rotate(-22.874deg) translateY(-50%);
}

.box-shadow-1 {
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-shadow-2 {
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.box-shadow-6 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
