@font-face {
  font-family: questrial;
  font-style: normal;
  font-weight: 400;
  src:
    local("Questrial"),
    url(https://fonts.cdnfonts.com/s/12556/Questrial-Regular.woff) format("woff");
}

body {
  font-family: Questrial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

html {
  overflow-y: scroll;
}

.btn.btn-outset {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 1px 3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-check:checked + .btn.btn-outset,
.btn.btn-outset.active,
.btn.btn-outset.show,
.btn.btn-outset:first-child:active,
:not(.btn-check) + .btn.btn-outset:active {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}
.btn.btn-outset:hover {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}
